
$max-width: 850px;
$width-percent: 87%;

$header-primary-color: #1fa67a;  // #580F9D #80589D;
$header-fg: #fff;

$nav-bnt-color: $header-primary-color;
$nav-bnt-hover-color: #e8f6f1;
$nav-bnt-shadow-color: #126349;

$page-bg: #F9F7F3; // #eee
$content-bg: #fff;

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', 'Metrophobic', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.65;
  background: $page-bg;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  margin: 7px 0;
}
h1 {
  font-size: 36px;
}

a:link, a:visited {
  color: #4078c0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*
  ############
  Header and Main Navigation
  ############
*/
body > header {
  position: relative;
  background: $header-primary-color;
  color: $header-fg;
  margin: 0;

  .wrapper {
    padding: 20px 0 0;
    min-height: 180px;
    width: $width-percent;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
  }

  h1 {
    padding: 0;
    height: 80px;
    line-height: 80px;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab';

    a:link,
    a:visited {
      color: inherit;
      border-radius: 10px;
      padding: 5px;
      margin: 0 0 0 -5px;
      line-height: 1.2;
      display: inline-block;
      transition: background-color .2s;
    }
    a:hover {
      text-decoration: none;
      background: rgba(255, 255, 255, .1);
    }
  }

  nav {
    ul {
      list-style-type: none;
      position: absolute;
      top: 75px;
      right: 0;
      margin: 0;
      padding: 0;
      z-index: 2;
    }

    li {
      display: inline-block;
      margin: 0 3px;
      transition: left 0.5s, right 0.5s, top 0.5s;
    }

    a:link,
    a:visited,
    button {
      background: $header-fg;
      color: $nav-bnt-color;

      text-decoration: none;
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 25px;
      overflow: hidden;
      text-indent: 100px;
      position: relative;
      box-shadow: 1px 1px 5px $nav-bnt-shadow-color;
      transition: background .3s
    }
    a:hover,
    button:hover {
      background: $nav-bnt-hover-color;
    }

    // Icon positioning
    a:before,
    button:before {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      text-indent: 0;
      text-align: center;
      line-height: 45px;
    }

    // Smaller button
    li.secondary {
      height: 30px;
    }
    li.secondary a,
    li.secondary button {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
    li.secondary a:before,
    li.secondary button:before {
      line-height: 30px;
    }
    li.secondary button {
      padding: 0;
      border: none;
    }
  }

  // Page specific nav
  nav ul.page {
    top: 125px;
    right: -55px;

    li {
      display: block;
      margin: 3px 0;
      height: 50px;
    }

    li.secondary a,
    li.secondary button {
      margin: 3px 8px;
    }

    li.slide-in {
      overflow: hidden;

      a,
      button {
        position: absolute;
        right: 60px;
        transition: right 0.5s;
      }
    }
  }
}

body.loaded > header ul.page li.slide-in a,
body.loaded > header ul.page li.slide-in button {
  right: 0;
}

/*
  ############
  Main Content Area and footer
  ############
*/
.main {
  position: relative;
  width: $width-percent;
  max-width: $max-width;
  margin: -60px auto 30px;
  background: $content-bg;
  padding: 10px 30px 10px;
  box-shadow: 1px 1px 5px #AAA;
  box-sizing: border-box;
}
body > footer {
  text-align: center;
  margin: 30px 0 30px;
  font-size: 14px;
}

/*
  ############
  Document
  ############
*/
article {
  > header {
    margin: 0;
    padding: 0 0 5px;
    border-bottom: 1px solid #e9e9e9;

    h1 {
      margin: 0;
    }
    p.meta {
      font-size: 14px;
      color: #999;
      margin: 0;
      font-family: 'Roboto';
      font-weight: 200;
    }
  }
  > header .breadcrumbs {
    position: absolute;
    top: -1.7em;
    left: 0;
    right: 0;
    height: 1.5em;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Roboto;
    font-size: 12px;
    color: #fff;
    list-style-type: none;

    li {
      display: inline-block;
    }
    li:after {
      content: '/'
    }
    a:link,
    a:visited {
      color: #fff;
    }
  }

  .content {
    padding: 15px 0 25px;
    font-family: "Helvetica Neue", Helvetica;
  }
  footer {
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;

    h1 {
      font-size: 18px;
    }
  }
}

/*
  ############
  Document Form
  ############
*/
.document-form {
  nav .delete-document button:hover {
    color: #fff;
    background: #900;
  }
}

