{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

  {# Fonts #}
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300|Roboto+Slab:400,100,300|Roboto+Condensed:400,300|Open+Sans:400normal|Raleway:400normal' rel='stylesheet' type='text/css'  />

  {# Libraries #}
  <link href="{% static 'spaces/lib/font-awesome/css/font-awesome.min.css' %}" rel='stylesheet' type='text/css'  />
  <link href="{% static 'spaces/lib/highlight/styles/github.css' %}" rel='stylesheet' type='text/css'  />

  <script src="{% static 'spaces/lib/jquery/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'spaces/lib/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'spaces/lib/highlight/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {# Our CSS/JS #}
  <link href="{% static 'spaces/css/main.css' %}" rel='stylesheet' type='text/css'  />
  <link href="{% static 'spaces/css/document.css' %}" rel='stylesheet' type='text/css'  />
  <script src="{% static 'spaces/js/main.js' %}"></script>
</head>

<body class="{% block page_classes %}{% endblock %}">
  <header>
    <div class="wrapper">
      <h1>
        <a href="{% url 'spaces:document' path='' %}">
          {{ site_name }}</a>
      </h1>
      <nav>
        <ul class="global">
          {% if not user.is_authenticated %}
            <li class="secondary">
              <a href="{% url 'spaces:login' %}" class="fa fa-sign-in" title="Login">
                Login</a>
            </li>
          {% endif %}
          <li>
            {% if document %}
              <a href="{% url 'spaces:document_create' path=document.full_path %}" class="fa fa-plus fa-lg" title="Add">
                Add</a>
            {% else %}
              <a href="{% url 'spaces:document_create' path=request.resolver_match.kwargs.path %}" class="fa fa-plus fa-lg" title="Add">Add</a>
            {% endif %}
          </li>
        </ul>
        <ul class="page">
          {% block page_nav %}{% endblock %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="main">
    {% block content %}{% endblock %}
  </div>
  <footer>
    {% if user.is_authenticated %}
      <p class="logout">
        <a href="{% url 'spaces:logout' %}">
          Logout</a>
      </p>
    {% endif %}
    <p>
      Site powered by
      <a href="https://github.com/jgillick/Spaces" target="_blank">Spaces</a>.
    </p>
  </footer>
</body>
</html>