{% extends "spaces/layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  <form method="post" action="{% url 'spaces:login' %}" id="login-form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="form-errors">
      {{ form.non_field_errors }}
    </div>

    <ol>
      <li>
        {{ form.username.label_tag }}
        {{ form.username }}
      </li>
      <li>
        {{ form.password.label_tag }}
        {{ form.password }}
      </li>
    </ol>

    <button type="submit">Login</button>
  </form>


{% endblock %}