html, body { height: 100%; }

body { font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 18px; font-weight: 300; line-height: 1.65; background: #F9F7F3; margin: 0; padding: 0; }

h1, h2, h3, h4, h5 { font-family: 'Roboto Condensed'; font-weight: 300; margin: 7px 0; }

h1 { font-size: 36px; }

a:link, a:visited { color: #4078c0; text-decoration: none; }

a:hover { text-decoration: underline; }

/* ############ Header and Main Navigation ############
*/
body > header { position: relative; background: #1fa67a; color: #fff; margin: 0; }
body > header .wrapper { padding: 20px 0 0; min-height: 180px; width: 87%; max-width: 850px; margin: 0 auto; position: relative; box-sizing: border-box; }
body > header h1 { padding: 0; height: 80px; line-height: 80px; text-overflow: ellipsis; font-family: 'Roboto Slab'; }
body > header h1 a:link, body > header h1 a:visited { color: inherit; border-radius: 10px; padding: 5px; margin: 0 0 0 -5px; line-height: 1.2; display: inline-block; transition: background-color .2s; }
body > header h1 a:hover { text-decoration: none; background: rgba(255, 255, 255, 0.1); }
body > header nav ul { list-style-type: none; position: absolute; top: 75px; right: 0; margin: 0; padding: 0; z-index: 2; }
body > header nav li { display: inline-block; margin: 0 3px; transition: left 0.5s, right 0.5s, top 0.5s; }
body > header nav a:link, body > header nav a:visited, body > header nav button { background: #fff; color: #1fa67a; text-decoration: none; display: inline-block; width: 45px; height: 45px; border-radius: 25px; overflow: hidden; text-indent: 100px; position: relative; box-shadow: 1px 1px 5px #126349; transition: background 0.3s; }
body > header nav a:hover, body > header nav button:hover { background: #e8f6f1; }
body > header nav a:before, body > header nav button:before { position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-indent: 0; text-align: center; line-height: 45px; }
body > header nav li.secondary { height: 30px; }
body > header nav li.secondary a, body > header nav li.secondary button { height: 30px; width: 30px; cursor: pointer; }
body > header nav li.secondary a:before, body > header nav li.secondary button:before { line-height: 30px; }
body > header nav li.secondary button { padding: 0; border: none; }
body > header nav ul.page { top: 125px; right: -55px; z-index: 0; }
body > header nav ul.page li { display: block; margin: 3px 0; height: 50px; }
body > header nav ul.page li.secondary a, body > header nav ul.page li.secondary button { margin: 3px 8px; }
body > header nav ul.page li.slide-in { overflow: hidden; }
body > header nav ul.page li.slide-in a, body > header nav ul.page li.slide-in button { position: absolute; right: 60px; transition: right 0.5s; }

body.loaded > header ul.page li.slide-in a, body.loaded > header ul.page li.slide-in button { right: 0; }

/* ############ Main Content Area and footer ############
*/
.main { position: relative; width: 87%; max-width: 850px; margin: -60px auto 30px; background: #fff; padding: 10px 30px 10px; box-shadow: 1px 1px 5px #AAA; box-sizing: border-box; }

body > footer { text-align: center; margin: 30px 0 30px; font-size: 14px; }

.main article > header .breadcrumbs, .main section > header .breadcrumbs { position: absolute; top: -1.7em; left: 0; right: 0; height: 1.5em; padding: 0; margin: 0; overflow: hidden; font-family: Roboto; font-size: 12px; color: #fff; list-style-type: none; }
.main article > header .breadcrumbs li, .main section > header .breadcrumbs li { display: inline-block; }
.main article > header .breadcrumbs li:after, .main section > header .breadcrumbs li:after { content: '/'; }
.main article > header .breadcrumbs li.current-doc:after, .main section > header .breadcrumbs li.current-doc:after { content: ''; }
.main article > header .breadcrumbs a:link, .main article > header .breadcrumbs a:visited, .main section > header .breadcrumbs a:link, .main section > header .breadcrumbs a:visited { color: #fff; }

/* ############ Document ############
*/
article > header { margin: 0; padding: 0 0 5px; border-bottom: 1px solid #e9e9e9; }
article > header h1 { margin: 0; }
article > header p.meta { font-size: 14px; color: #999; margin: 0; font-family: 'Roboto'; font-weight: 200; }
article > header p.revision-warning { font-size: 14px; margin: 5px 0; color: #900; }
article .content { margin: 10px 0 25px; font-family: "Open Sans", "Helvetica Neue", Helvetica; }
article footer { padding: 15px 0; font-size: 14px; border-top: 1px solid #e9e9e9; }
article footer h1 { font-size: 18px; }

/* ############ Document Info ############
*/
.document-info table { width: 80%; border: 1px solid #bbb; border-collapse: collapse; margin: 10px 0 20px; }
.document-info th, .document-info td a { padding: 5px 15px; }
.document-info th { font-weight: normal; text-align: left; font-family: 'Roboto Condensed'; background: #ccc; border-bottom: 1px solid #bbb; }
.document-info td { border-bottom: 1px solid #bbb; }
.document-info tr:last-child td { border: none; }
.document-info td a:link, .document-info td a:visited { display: block; color: inherit; }
.document-info td a:link:hover, .document-info td a:visited:hover { text-decoration: none; }
.document-info td a em { font-size: 14px; color: #666; }
.document-info tr:hover td { background: #eee; }

/* ############ Document Form ############
*/
.document-form { font-family: "Open Sans", "Helvetica Neue", Helvetica; }
.document-form nav .delete-document button:hover { color: #fff; background: #900; }
.document-form h1 { margin: 5px 0; }
.document-form .main form ol { position: relative; list-style-type: none; margin: 0; padding: 0; width: 100%; }
.document-form .main form li { margin: 10px 0; padding: 0; position: relative; width: 100%; }
.document-form .main form label { position: absolute; left: -1234em; top: -1234em; }
.document-form .main form input, .document-form .main form .cke { box-sizing: border-box; }
.document-form .main form .errorlist { display: block; list-style-type: none; color: #900; margin: 0 0 3px 0; padding: 0; font-size: 14px; }
.document-form .main form .errorlist li { margin: 0; }
.document-form .main form li.has-error { border-left: 3px solid #B00; padding-left: 10px; margin-left: -12px; }
.document-form .title-field input { font-size: 36px; display: block; width: 100%; }
.document-form .location-fields { font-size: 16px; }
.document-form .location-fields .fields { display: flex; }
.document-form .location-fields .fields > span { display: inline-block; }
.document-form .location-fields input, .document-form .location-fields select { font-size: inherit; }
.document-form .location-fields .path-field { flex: 1; margin-left: 5px; }
.document-form .location-fields .path-field input { width: 100%; }
.document-form .location-fields .space-name { color: #666; }
.document-form .location-fields .space-field:after { content: '/'; color: #666; }
.document-form .content-field { margin: 15px 0; }
.document-form .actions { font-size: 14px; text-align: center; margin: 20px 0; }
.document-form .actions .primary { font-size: 18px; padding: 5px 20px; margin: 0 5px 0 0; vertical-align: bottom; }

/*# sourceMappingURL=main.css.map */
