{% extends "spaces/layout.html" %}

{% block page_title %}{% block title %}Edit Document{% endblock %}{% endblock %}

{% block page_nav %}
  <li class="form-action">
    <a href="#" class="fa fa-save" title="Save">
      Save</a>
  </li>
  <li>
    <a href="{% url 'spaces:document' path=document.full_path %}" class="fa fa-ban" title="Cancel">
      Save</a>
  </li>
{% endblock %}

{% block content %}
  {% if document.id %}
    Edit this document
  {% else %}
    Add new document
  {% endif %}
  <form action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ revision_form.as_p }}
    <script>
        CKEDITOR.replace('id_revision_set-0-content');
    </script>
    <p>
      <button type="submit">Save</button>
    </p>
  </form>
{% endblock %}